<a class="backBttn" href="javascript:history.back()">Back</a>
<div class="crystal_container">
    
    <div class="block">
        <div class="text">
            <h1>About Wiki reader</h1>
        </div>
    </div>
    <div class="crystal" id="c01"></div>
    <div class="crystal" id="c02"></div>
    <div class="crystal" id="c03"></div>
    <div class="crystal" id="c04"></div>
    <div class="crystal" id="c05"></div>
    <div class="crystal" id="c06"></div>
    <div class="crystal" id="c07"></div>
    <div class="crystal" id="c08"></div>
    <div class="crystal" id="c09"></div>
    <div class="crystal" id="c10"></div>
</div>
<!-- Description -->
<div class="description">
    <h2>What is all about this?</h2>
    <p></p>
    <h2>Why do we need another web app for wikipedia?</h2>
    <p>most of the time reading articles in wikipedia is quite difficult due to their old UI which is a lot look like back to 20th century. So here I brought you book like reading theme to read only content without any distraction. No more extra</p>
    <h2>Only web app?</h2>
    <p>Currently, yes. And I am planning to make Android app, stay tuned...</p>
</div>
<!-- Credits -->
<div class="credits">
    <div class="credits_left">
        Developed by <a href="https://santhoshpendyala.github.io" target="_blank" alt="santhoshpendyala.github.io">Santhosh Pendyala</a>
    </div>
    
</div>