<div ng-controller="mainController as mainctrl">
    <div id="topbar">
        <span class="pull-left leftPad topPad">
            <span ng-click="leftsidenav=!leftsidenav"><i class="fa fa-bars"></i></span>
            <div id="leftSidenav" class="sidenav" ng-class="{'fullWidth':leftsidenav}">
                <a href="javascript:void(0)" class="closebtn" ng-click="leftsidenav=!leftsidenav">&times;</a>
                <a href="#" ng-click="leftsidenav=!leftsidenav" ui-sref="home.history">History</a>
                <a href="#" ng-click="leftsidenav=!leftsidenav" ui-sref="home.favorite">Favourites</a>
                <a href="#" ng-click="leftsidenav=!leftsidenav" ui-sref="home.saved">Saved articles</a>
                <a href="#" ng-click="leftsidenav=!leftsidenav">Feedback</a>
                <a href="#" ng-click="leftsidenav=!leftsidenav" ui-sref="about" >About</a>
            </div>
        </span>
        <label> <a href="#" ui-sref="home.dailyQuote">Wiki Reader</a></label>

        <span ng-show="mainctrl.rightsideIcons && !mainctrl.editing">
            <div class="pull-right topPad rightPad">
                <span ng-click="mainctrl.rightsidenav=!mainctrl.rightsidenav;mainctrl.getHeadings();"><i class="fa fa-list"></i></span>
                <div id="rightSidenav" class="sidenav" ng-class="{'fullWidth':mainctrl.rightsidenav}">
                    <a href="javascript:void(0)" class="closebtn" ng-click="mainctrl.rightsidenav=!mainctrl.rightsidenav">&times;</a>

                    <a ng-click="mainctrl.rightsidenav=!mainctrl.rightsidenav;mainctrl.scrollTo(headings.id);" ng-repeat="headings in mainctrl.headingList"><span>{{headings.heading}}</span></a>
                </div>
            </div>

            <div class="pull-right topPad rightPad infoicon">
                <span ng-click="mainctrl.rightsidenav2=!mainctrl.rightsidenav2;mainctrl.getInfoboxByTitle(mainctrl.title);"><i class="fa fa-info"></i></span>
                <div id="rightSidenav" class="sidenav2" ng-class="{'fullWidth':mainctrl.rightsidenav2}">
                    <a href="javascript:void(0)" class="closebtn" ng-click="mainctrl.rightsidenav2=!mainctrl.rightsidenav2">&times;</a>
                    <div class="infobox" ng-bind-html="mainctrl.infoBox"></div>
                </div>
            </div>
            <div class="pull-right topPad rightPad">
                <span ng-hide="mainctrl.saved" ng-click="mainctrl.dosave()"><i class="fa fa-floppy-o"></i></span>
                <span ng-show="mainctrl.saved" ng-click="mainctrl.removesaved()"><i class="fa fa-floppy"></i></span>                
            </div>
            <div class="pull-right topPad rightPad">
                <span ng-hide="mainctrl.favorite" ng-click="mainctrl.dofavorite()"><i class="fa fa-bookmark-o"></i></span>
                <span ng-show="mainctrl.favorite" ng-click="mainctrl.removefavorite()"><i class="fa fa-bookmark"></i></span>                
            </div>
        </span>
    </div>
    <div id="content">
        <div id="page">
            <div id="pagereader">
                <div class="pagecontent">                    
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>